// Breakpoints
$bp-mobile: 400px;
$bp-phablet: 550px;
$bp-tablet: 750px;
$bp-desktop: 1000px;
$bp-desktophd: 1200px;

// Colors
$white: rgb(255,255,255);
$black: rgb(0,0,0);

// Fonts
$main-font: "Helvetica Neue", "Helvetica", "Arial", sans-serif;