/* Sane Defaults */

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Main Styles */

html,
body {
  margin: 0;
  padding: 0;
}